[Unit]
Description=GNOME -> macOS Remap

[Service]
Type=simple
ExecStart=/usr/local/bin/xremap "/usr/local/share/gnome-macos-remap/config.yml"
# ExecStart=/usr/local/bin/xremap "YOUR-HOME-HOLDER/.config/gnome-macos-remap/config.yml"
Restart=on-failure

[Install]
WantedBy=default.target	
