[Unit]
Description=GNOME -> macOS Remap for %I

[Service]
Type=simple
ExecStart=/usr/local/bin/xremap "HOME/.config/gnome-macos-remap/config.yml"
Restart=on-failure

[Install]
WantedBy=default.target
