[Unit]
Description=GNOME -> macOS Remap

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=xremap %h/.config/gnome-macos-remap/config.yml

[Install]
WantedBy=default.target
